html,body {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Microsoft JhengHei", Roboto, "Helvetica Neue", Arial, sans-serif;
    font-size: 16px;
    line-height: 1.5;
}
*, *::before, *::after{
    box-sizing: border-box;
}
img{
    max-width:100%;
    height:auto;
    display: block;
}
.bg-red
{
    background-color: #AA0601;
    color: #fff;
}
.bg-cover
{
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}
.title
{
text-align:center;
font-size: 48px;
font-weight: bold;
color: #fff;
padding-top: 64px;
padding-bottom: 60px;
}
.text-primary
{
    color: #650300;
}
.d-flex
{
    display: flex;
}
.flex-row
{
    display: flex;
    flex-direction: row;
   
}
.flex-column
{
    display: flex;
    flex-direction: column;
}
.flex-sb
{
    justify-content: space-between;
}
.flex-center{
    align-items: center;
}
.flex-end
{
    align-items: flex-end;
}