/*nav*/
.nav{
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 2.5rem 5.5rem;
}
.nav a{
    font-size: 1.25rem;
    text-decoration: none;
    color: #fff;
}
.nav-list{
    flex-direction: row;
    justify-content: space-between;
}
.nav-list li {
    margin-left: 4rem;
}
/*漢堡選單*/
.ham-icon{
    position: absolute;
    left: 16px;
    display: none;
}

@media(max-width:992px)
{
    .nav{
        position: relative;
        padding: 10px 1rem;
        justify-content: center;
        align-items: center;
    }
    .nav-list
    {
        display: block;
        position: absolute;
        left: 0;
        top: 100%;
        width: 100%;
        max-height: 0px;
        transition: all 0.8s; /*設訂速度*/
        overflow: hidden;
        z-index: 120;
    }
    .nav-list.active
    {
        max-height: 248px;
        background-color: #AA0601;
    }
    .nav-list li a{
        display: block;
        width: 100%;
        text-align: center;
        padding: 1rem 0;
        border-top: 1px solid #fff;
    }
    .nav-list li
    {
        margin-left: 0px;
    }
    .nav-list li a:hover
    {
        background-color: #8f0400;
    }
    .ham-icon{
        display: block;
    }



}

/*header*/
.banner
{
    background-image: url(img/banner.png);
    height: 840px;
    line-height: 1.5;
    font-weight: bold;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
.banner-container
{
    max-width: 1200px;
    margin-right: 360px;
}
.banner h2{
    font-size: 36px;
}
.banner h1{
    font-size: 64px;
}
.about
{
    background-color: #AA06010D;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 64px;

}

.about ul
{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding:64px 397px

}
.about li{
    max-width: 20%;
}
.about li h1{
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 4px;
    text-align: center;
    margin-top: 40px;
}
.about p{
    color: #000;
    font-size: 16px;
}
.about img{
   
    margin: 0 auto;
}
/*Classic*/
.classic
{
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 57px;
    font-weight: bold;
}
.classic h1
{
   padding-top: 64px;
   padding-bottom: 60px;
}
.classic li
{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-bottom: 32px;
}
.classic img
{
    display: inline;
}
.classic h2
{
    margin-left: 24px;
    margin-right: 24px;
}
/*---design*/
.design
{
    background-image: url(img/bg.png);
    padding-bottom: 450px;

}

.design li
{
    margin-bottom: 60px;
}
.design ul
{
    max-width: 80%;
    display: flex;
    margin: 0 auto;
}
.design-list
{
    flex-direction: column;
}
.design span
{
    font-size: 72px;
    color: #AA0601;
    font-weight: bold;
    line-height: 1.5;
}
.more{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    position: relative;
    max-width: 38.5%;
    margin-right: 85px;
}

.more::before
{
    content: "";
    background: #fff;
    top: 15%;
    bottom: 15%;
    position: absolute;
    left: 10%;
    right: -85px;
}    
.more span
{
    position: absolute;
    top: 20%;
    bottom: 20%;
    left: 20%;
}
.design-brand
{
    position: relative;
    justify-content: center;
    max-width: 1200px;
    margin: 0 auto;
}
.design-brand-item
{
    margin-right: 30px;
    position: relative;

}
.design-brand-item::before
{
    content: '';
    position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    background: rgba(206, 204, 204, 0.5);
}
.design-brand-item span
{
    position: absolute;
    top: 42%;
    width: 100%;
    text-align: center;
}
.recommend
{
    margin-top: -390px;
    margin-bottom: 80px;
}
.recommend ul{
    display: flex;
    flex-direction: row;
    justify-content: center;
   
   }
   .recommend li
   {
   width: 15%;
   margin-right: 24px;
   background-color: #fff;
   border:1px solid #808a94;
  
   }
   .rec-content
   {
       padding-left: 16px;
       padding-right: 16px;
   }
   .rec-content p
   {
    font-size: 16px;
    margin-bottom: 16px;
   }
   .rec-content p:first-child
   {
   font-weight: bold;
   }
   .rec-content p:last-child
   {
   color: #707070;
   }

   /*-----contact-----*/
.contact
{
    background-color: #AA06010D;
    padding-bottom: 92px;
}
.contact-container
{
    max-width: 40%;
    margin: 0 auto;
}
.contact h1
{
    color: black;
    padding-bottom: 24px;
}
.contact h2
{
    font-size: 20px;
    line-height: 1.5;
    margin-bottom: 20px;
}
.contact li
{
    margin-bottom: 16px;
    font-size: 16px;
}
.contact input,textarea
{
    display: block;
    border: 1px solid #000;
    background-color: transparent;
    width: 100%;
    padding:1rem;
}
.contact p
{
    margin-bottom: 4px;

}
.contact button{
    background-color: #AA0601;
    color: #fff;
    width: 180px;
    font-weight: bold;
    margin: 0 auto;
    display: block;
    padding: 1rem;
    font-size: 16px;
    border: none;
}
.contact input[type="checkbox"]
{
 display: inline;
 width: auto;   
}

/*----footer----*/
footer
{
    padding: 40px;
}

.footer-container
{
    max-width: 60%;
    margin: 0 auto;
}
.footer-nav
{
    border-bottom: 1px solid #fff;
    margin-bottom: 24px; 
}
.footer-nav li
{
 margin-bottom: 16px;
}
.footer-top
{
    display: flex;
    justify-content: space-between;
    align-items: center;
   
}
.footer-top span
{
    font-size: 16px;
    padding-right: 3rem;
}
.footer-top img
{
    margin-left: 32px;
    display: inline;
}
.footer-nav p
{
    font-size: 36px;
}
.footer-copy
{
    font-size: 16px;
    line-height: 1.5;
}
.footer-copy img
{
    display: inline;
    margin-right: 38px;
}
.copy-text span
{
    font-size: 14px;
    margin-left: 62px;
}