/*nav*/
.nav{
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 2.5rem 5.5rem;
}
.nav a{
    font-size: 1.25rem;
    text-decoration: none;
    color: #fff;
}
.nav-list{
    flex-direction: row;
    justify-content: space-between;
}
.nav-list li {
    margin-left: 4rem;
}
/*漢堡選單*/
.ham-icon{
    position: absolute;
    left: 16px;
    display: none;
}

@media (max-width:992px)
{
    .nav{
        position: relative;
        padding: 10px 1rem;
        justify-content: center;
        align-items: center;
    }
    .nav-list
    {
        display: block;
        position: absolute;
        left: 0;
        top: 100%;
        width: 100%;
        max-height: 0px;
        transition: all 0.8s; /*設訂速度*/
        overflow: hidden;
        z-index: 120;
    }
    .nav-list.active
    {
        max-height: 248px;
        background-color: #AA0601;
    }
    .nav-list li a{
        display: block;
        width: 100%;
        text-align: center;
        padding: 1rem 0;
        border-top: 1px solid #fff;
    }
    .nav-list li
    {
        margin-left: 0px;
    }
    .nav-list li a:hover
    {
        background-color: #8f0400;
    }
    .ham-icon{
        display: block;
    }
}

/*header*/
.banner
{
    background-image: url(img/banner.png);
    height: 840px;
}
.banner-content
{
    height: 100%;
    font-weight: bold;
    justify-content: center;
    align-items: flex-end;
    
}
.banner p{
    font-size: 2.25rem;
}
.banner h1{
    font-size: 4rem;
}
@media (max-width:992px)
{
    .banner p{
        font-size: 1.25rem;
    }

    .banner h1{
        font-size: 3rem;
    }
    
    .banner
    {
        background-image: url(img/banner-sm.png);
    }
}
@media (max-width:414px)
{
    .banner p{
        font-size: 1rem;
    }
    .banner h1{
        font-size: 2rem;
    }
    .banner
    {
        height: 394px;
    }
}
/*about*/
.about
{
    background-color: #AA06010D;
}

.about ul
{
 justify-content: space-between;
 padding-bottom: 5rem;
/*這樣最後一張圖片才會往下掉*/
align-items: baseline; 
}
.about li{
    width: 20%;
}
.about li h1{
    font-size: 1.5rem;
    font-weight: bold;
    margin-bottom: 4px;
    text-align: center;
    
}
.about img:last-child
{
    height:93.98px
}
.about p{
    color: #000;
}
.about img{
    margin: 0 auto;
    margin-bottom: 2.5rem;
}

@media(max-width:992px)
{
    .about ul
    {
        flex-wrap: wrap;
    }
    .about li{
        width: 48%;
    }
    .about p{
        margin-bottom: 2.5rem;
    }
    .about h1:first-child
    {
       margin-top: 1rem;
       margin-bottom: 8px;
    }
    .about h1:first-child
    {
        font-size: 2rem;
    }


}
@media (max-width:414px)
{
    .about li{
        width: 100%;
    }
}
/*Classic*/
.classic
{
    display: flex;
    flex-direction: column;
    align-items: center;
   
}
.classic li
{
    display: flex;
    align-items: center;
    margin-bottom: 2rem;
}
.sunglasses
{
    justify-content: space-between;
}
.classic img
{
    display: inline;
}
.classic h2
{
    color: #AA0601;
    margin-left: 1.5rem;
    margin-right:1.5rem;
    font-size: 3rem;
    font-weight: bold;
    display: flex;
    justify-content: center;
}

.classic img{
   width: 50%;
}
@media(max-width:992px)
{
   
    .classic li
    {
        margin-bottom: 0.5rem;
    }
    .classic h2{
        font-size: 1.75rem;
    }
    .sunglasses
    {
        flex-direction: row-reverse;
        justify-content: flex-end;
    }
}

/*---design*/
.design
{
    background-image: url(img/bg.png);
    padding-bottom: 450px;
}
.design li
{
    margin-bottom: 3.75rem;
}
.design-list
{
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    align-items: center;
}
.design span
{
    font-size: 4.5rem;
    color: #AA0601;
    font-weight: bold;
    line-height: 1.5;
}
.more{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    position: relative;
    max-width: 30%;
    margin-right: 85px;
    height: 100%;
}

.more::before
{
    content: "";
    background: #fff;
    top: 15%;
    bottom: 15%;
    position: absolute;
    left: 10%;
    right: -85px;
}    
.more span
{
    position: absolute;
    top: 20%;
    bottom: 20%;
    left: 20%;
}
.design-brand
{
    position: relative;
    justify-content: space-between;
}
.design-brand-item
{
    position: relative;
}
.design-brand-item:first-child
{
    margin-right: 1.875rem;
}
.design-brand-item::before
{
    content: '';
    position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    background: rgba(206, 204, 204, 0.5);
}
.design-brand-item span
{
    position: absolute;
    top: 42%;
    width: 100%;
    text-align: center;
}
@media(max-width:992px)
{
    .design
    {
    padding-bottom: 400px;
    }
    .design li
    {
        margin-bottom: 2.5rem;
    }
    .design li:last-child
    {
        margin-bottom: 0px;
    }
    .design span
    {
        font-size: 2.5rem;
    }
    .more{
        margin-right: 49px;
    }
    .more::before
    {
        right: -50px;
    }
}
/*---recommend---*/
.recommend
{
    margin-top: -390px;
    margin-bottom: 80px;
}
.recommend ul{
    display: flex;
    flex-direction: row;
    justify-content: center;
   flex-wrap: wrap;
   }
   .recommend li
   {
   width: 23%;
   margin-right: 1.5rem;
   background-color: #fff;
   border:1px solid #DEE2E6;
   }
   .recommend li:last-child
   {
       margin-right: 0px;
   }
   .rec-content
   {
       padding-left: 16px;
       padding-right: 16px;
   }
   .rec-content p
   {
    font-size: 16px;
    margin-bottom: 16px;
   }
   .rec-content p:first-child
   {
   font-weight: bold;
   }
   .rec-content p:last-child
   {
   color: #707070;
   }
@media(max-width:992px)
{
    .recommend li
    {
    width: 45%;
    margin-bottom: 1.5rem;
    }
}
   /*-----contact-----*/
.contact
{
    background-color: #AA06010D;
    padding-bottom: 92px;
}
.contact-container
{
    width: 50%;
    margin: 0 auto;
}
.contact h1
{
    color: black;
    padding-bottom: 1.5rem;
}
.contact h2
{
    font-size: 1.25rem;
    line-height: 1.5;
    margin-bottom: 1.25rem;
}
.contact li
{
    margin-bottom: 1rem;
    font-size: 1rem;
}
.contact input,textarea
{
    display: block;
    border: 1px solid #000;
    background-color: transparent;
    width: 100%;
    padding:1rem;
}
.contact p
{
    margin-bottom: 4px;

}
.contact button{
    background-color: #AA0601;
    color: #fff;
    width: 180px;
    font-weight: bold;
    margin: 0 auto;
    display: block;
    padding: 1rem;
    font-size: 16px;
    border: none;
}
.contact input[type="checkbox"]
{
 display: inline;
 width: auto;   
}
@media(max-width:992px)
{
    .contact-container
    {
        width: 65%;
    }
    .contact h2
{
    font-size: 1rem;
    line-height: 1.5;
    margin-bottom: 1rem;
}
}

/*----footer----*/
footer
{
    padding-top: 2.5rem;
    padding-bottom: 2.5rem;
}
.footer-nav
{
    border-bottom: 1px solid #fff;
    margin-bottom: 1.5rem; 
}
.footer-nav li
{
 margin-bottom: 1rem;
}
.footer-top
{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.footer-top img
{
   margin-left: 2rem;
}
.footer-top span
{
    font-size: 1rem;
    padding-right: 3rem;
    display: block;
}
.footer-nav p
{
    font-size: 2.25rem;
}
.footer-copy
{
    font-size: 1rem;
    line-height: 1.5;
}
.footer-copy img
{
    display: inline;
    margin-right: 38px;
}
.copy-text span
{
    font-size: 14px;
    margin-left: 62px;
}
@media(max-width:992px)
{
    .footer
    {
    padding-left: 3rem;
    padding-right: 3rem;
    }
    .footer-top img
    {
   margin-left: 1.5rem;
    }
    .footer-nav p
    {
        font-size: 1.25rem;
    }
    .footer-top span
    {
    padding-right: 2.5rem;
    }
}